<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Profil</title>
    <link rel="stylesheet" href="/bootstrap.min.css"/>
    <script src="/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-primary-subtle sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Thesis is coming!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/betreuende">Betreuende</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/themen">Themen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/matching">Matching</a>
                </li>
            </ul>
            <div th:if="${navButton}" th:object="${navButton}">
                <a class="btn btn-primary" th:href="*{url}" th:text="*{label}">Anmelden</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid py-3" th:object="${profil}">
    <div class="row justify-content-center">
        <div class="col-md-4 text-center mb-4">
            <h1 class="display-4 fw-bold">Profil bearbeiten</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 mb-4">
            <div class="card h-100 bg-light overflow-auto" style="max-height: 500px">
                <div class="card-body">
                    <h2 class="card-title fw-bold">Daten bearbeiten</h2>
                    <form method="post" th:action="@{/betreuende/profilEdit}">
                        <div class="form-group mb-2">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" th:field="*{name}"/>
                            <div th:object="${profilEditDTO}">
                            <small class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name
                                Error</small>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Name ändern</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100 bg-light overflow-auto" style="max-height: 500px">
                <div class="card-body">
                    <h2 class="card-title fw-bold">Kontakt hinzufügen</h2>
                    <form method="post" th:action="@{/betreuende/profilEdit/addKontakt}" th:object="${kontakt}">
                        <div class="form-group mb-2">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" th:field="*{type}" id="radioDefault1"
                                       value="email">
                                <label class="form-check-label" for="radioDefault1">
                                    Email
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" th:field="*{type}" id="radioDefault2"
                                       value="tel" checked>
                                <label class="form-check-label" for="radioDefault2">
                                    Phone
                                </label>
                            </div>
                        </div>
                        <div class="form-group mb-2">
                            <label for="label">Label</label>
                            <input type="text" class="form-control" id="label" th:field="*{label}"/>
                        </div>
                        <div class="form-group mb-2">
                            <label for="wert">E-Mail/Tel</label>
                            <input type="text" class="form-control" id="wert" th:field="*{wert}"/>
                            <small class="text-danger" th:if="${#fields.hasErrors('wert')}" th:errors="*{wert}">Wert
                                Error</small>
                        </div>
                        <button type="submit" class="btn btn-primary">Hinzufügen</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100 bg-light overflow-auto" style="max-height: 500px">
                <div class="card-body">
                    <h2 class="card-title fw-bold">Kontakte</h2>
                    <table class="table table-striped mb-0">
                        <tbody>
                        <tr th:each="profilKontakt : *{kontakte}">
                            <td>
                                <p>
                                    <span th:text="${profilKontakt.label}">ProfilEmail:</span>
                                    <a th:href="${profilKontakt.href}" th:text="${profilKontakt.wert}" href="muster@email.com">muster@email.com</a>
                                </p>
                            </td>
                            <td class="text-end">
                                <form method="post" th:action="@{/betreuende/profilEdit/deleteKontakt}">
                                    <input type="hidden" name="label" th:value="${profilKontakt.label}">
                                    <input type="hidden" name="wert" th:value="${profilKontakt.wert}">
                                    <input type="hidden" name="kontaktart" th:value="${profilKontakt.kontaktart}">
                                    <button type="submit" class="btn-close" aria-label="Kontakt löschen"></button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100 bg-light overflow-auto" style="max-height: 500px">
                <div class="card-body">
                    <h2 class="card-title fw-bold">Fachgebiet hinzufügen</h2>
                    <form method="post" th:action="@{/betreuende/profilEdit/addFachgebiet}" th:object="${fachgebietDTO}">
                        <div class="form-group mb-2">
                            <label for="fachgebiet">Neues Fachgebiet</label>
                            <input type="text" class="form-control" id="fachgebiet" name="fachgebiet"/>
                            <small class="text-danger" th:if="${#fields.hasErrors('fachgebiet')}" th:errors="*{fachgebiet}">Wert
                                Error</small>
                        </div>
                        <button type="submit" class="btn btn-primary">Neues Fachgebiet hinzufügen</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100 bg-light overflow-auto" style="max-height: 500px">
                <div class="card-body">
                    <h2 class="card-title fw-bold">Fachgebiete</h2>
                    <table class="table table-striped mb-0">
                        <tbody>
                        <tr th:each="fachgebiet : *{fachgebiete}">
                            <td>
                                <p th:text="${fachgebiet}">Fachgebiet</p>
                            </td>
                            <td class="text-end">
                                <form method="post" th:action="@{/betreuende/profilEdit/removeFachgebiet}">
                                    <input type="hidden" name="fachgebiet" th:value="${fachgebiet}">
                                    <button type="submit" class="btn-close" aria-label="Fachgebiet entfernen"></button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100 bg-light overflow-auto" style="max-height: 500px">
                <div class="card-body">
                    <div>
                        <h2 class="card-title fw-bold">Links hinzufügen</h2>
                        <form th:action="@{/betreuende/profilEdit/addLink}" method="post" th:object="${linkDTO}">
                            <div class="form-group mb-2">
                                <label for="url">Url</label>
                                <input type="text" class="form-control" id="url" th:field="*{url}" name="url">
                                <small class="text-danger" th:if="${#fields.hasErrors('url')}" th:errors="*{url}">Wert
                                    Error</small>
                            </div>
                            <div class="form-group mb-2">
                                <label for="urlBeschreibung">Beschreibung der Url</label>
                                <textarea class="form-control" id="urlBeschreibung" th:field="*{urlBeschreibung}"
                                          name="urlBeschreibung" rows="5" cols="33"></textarea>
                                <small class="text-danger" th:if="${#fields.hasErrors('urlBeschreibung')}"
                                       th:errors="*{urlBeschreibung}">Wert Error</small>
                            </div>
                            <button type="submit" class="btn btn-primary">Link hinzufügen</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100 bg-light overflow-auto" style="max-height: 500px">
                <div class="card-body">
                    <h2 class="card-title fw-bold">Links</h2>
                    <table class="table table-striped mb-0">
                        <tbody>
                        <tr th:each="link: *{links}">
                            <td>
                                <a th:href="@{{link}(link=${link.url})}" th:text="${link.url}"></a>
                                <p th:text="${link.text}">Beschreibung der Url</p>
                            </td>
                            <td class="text-end">
                                <form method="post" th:action="@{/betreuende/profilEdit/deleteLink}">
                                    <input type="hidden" name="url" th:value="${link.url}">
                                    <input type="hidden" name="text" th:value="${link.text}">
                                    <button type="submit" class="btn-close" aria-label="Link entfernen"></button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100 bg-light overflow-auto" style="max-height: 500px">
                <div class="card-body">
                    <h2 class="card-title fw-bold">Themen</h2>
                    <a class="btn btn-primary mb-4" href="/thema/create">Neues Thema erstellen</a>
                    <table class="table table-striped mb-0">
                        <tbody>
                        <tr th:each="thema: *{themen}">
                            <td>
                                <a th:href="@{/thema/{themaId}(themaId=${thema.id})}" th:text="${thema.name}">Thema</a>
                            </td>
                            <td class="text-end d-flex justify-content-end gap-2">
                                <a th:href="@{/themaEdit/{themaId}(themaId=${thema.id})}" class="btn btn-primary">Bearbeiten</a>
                                <a th:href="@{/thema/{themaId}/confirmDeletion(themaId=${thema.id})}" class="btn-close"
                                   aria-label="Thema entfernen"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100 bg-light overflow-auto" style="max-height: 500px">
                <div class="card-body">
                    <h2 class="card-title fw-bold">Dateien</h2>
                    <form enctype="multipart/form-data" method="post" th:action="@{/betreuende/datei/create}">
                        <div class="form-group mb-2">
                            <input type="file" name="datei" id="datei" class="form-control">
                        </div>
                        <input type="submit" class="btn btn-primary mb-4" value="Neue Datei hochladen">
                    </form>
                    <table class="table table-striped mb-0">
                        <tbody>
                        <tr th:each="datei: *{dateien}">
                            <td>
                                <a th:href="@{/datei/view/{id}(id=${datei.id}, name=${datei.name})}" th:text="${datei.name}">Datei</a>
                            </td>
                            <td class="text-end d-flex justify-content-end gap-2">
                                <form th:action="@{/betreuende/datei/delete/{id}(id=${datei.id})}" method="post" style="display:inline;">
                                    <input type="hidden" name="id" th:value="${datei.id}" />
                                    <button type="submit" class="btn-close" aria-label="Datei entfernen"></button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>