<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thema erstellen</title>
    <link rel="stylesheet" href="/bootstrap.min.css"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-primary-subtle">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Thesis is coming!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/betreuende">Betreuende</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/themen">Themen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/matching">Matching</a>
                </li>
            </ul>
            <div th:object="${navButton}">
                <a class="btn btn-primary" th:href="*{url}" th:text="*{label}">Anmelden</a>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid px-4">
    <div class="col-md-6">
        <h1>Thema erstellen</h1>
        <div th:object="${themaInfoDTO}">
            <form th:action="@{/thema/create}" method="post">
                <div class="form-group">
                    <label for="titel">Titel des Themas</label>
                    <input type="text" id="titel" th:field="*{titel}">
                    <small class="text-danger" th:if="${#fields.hasErrors('titel')}" th:errors="*{titel}">Wert Error</small>
                </div>
                <div class="form-group">
                    <label for="beschreibung">Beschreibung des Themas</label>
                    <textarea class="form-control" id="beschreibung" th:field="*{beschreibung}" rows="5"
                              cols="33"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Weitere Inhalte hinzufügen</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
