<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thema erstellen</title>
    <link rel="stylesheet" href="/bootstrap.min.css"/>
</head>
<body>

<div class="container-fluid px-4">
    <div class="col-md-6">
        <h1>Thema erstellen</h1>
        <div th:object="${themaInfoDTO}">
            <form th:action="@{/thema/create}" method="post">
                <div class="form-group">
                    <label for="titel">Titel des Themas</label>
                    <input type="text" id="titel" th:field="*{titel}">
                    <small class="text-danger" th:if="${#fields.hasErrors('titel')}" th:errors="*{titel}">Wert Error</small>
                </div>
                <div class="form-group">
                    <label for="beschreibung">Beschreibung des Themas</label>
                    <textarea class="form-control" id="beschreibung" th:field="*{beschreibung}" rows="5"
                              cols="33"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Weitere Inhalte hinzufügen</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
