<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Profil</title>
    <link rel="stylesheet" href="/bootstrap.min.css"/>
    <script src="/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-primary-subtle sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Thesis is coming!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/betreuende">Betreuende</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/themen">Themen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/matching">Matching</a>
                </li>
            </ul>
            <div th:if="${navButton}" th:object="${navButton}">
                <a class="btn btn-primary" th:href="*{url}" th:text="*{label}">Anmelden</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid py-3">
    <div class="row justify-content-center">
        <div class="col-md-4 text-center mb-4">
            <h1 class="display-4 fw-bold">Admin</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 mb-4">
            <div class="card bg-light">
                <div class="card-header">
                    <h2 class="display-6">Neue Betreuende Person</h2>
                </div>
                <div class="card-body">
                    <form method="POST" th:action="@{/admin/createBetreuende}" th:object="${profil}">
                        <div class="form-group mb-2">
                            <label for="githubId">Github ID</label>
                            <input type="number" class="form-control" id="githubId" th:field="*{id}">
                            <small class="text-danger" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Wert
                                Error</small>
                        </div>
                        <div class="form-group mb-2">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" th:field="*{name}">
                            <small class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Wert
                                Error</small>
                        </div>
                        <button type="submit" class="btn btn-primary">Hinzufügen</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h2 class="display-6">Betreuende</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="profil : ${profile}">
                    <td th:text="*{profil.id}">1</td>
                    <td th:text="*{profil.name}">John</td>
                    <td class="text-end d-flex justify-content-end gap-2">
                        <button type="button" class="btn-close" aria-label="Betreuende entfernen" data-bs-toggle="modal"
                                data-bs-target="#betreuendeDelete" th:data-bs-target="'#betreuendeDelete' + ${profil.id}"></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2 class="display-6">Module</h2>
            <a class="btn btn-lg btn-primary" href="admin/module/edit">Module bearbeiten</a>
        </div>
    </div>
</div>

<div th:each="profil : ${profile}">
    <div class="modal fade" th:id="'betreuendeDelete' + ${profil.id}" id="betreuendeDelete" data-bs-backdrop="static" tabindex="-1"
         aria-labelledby="Betreuende löschen" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5"><span th:text="${profil.name}">Name</span> löschen</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Bist du sicher, dass das Profil von <span th:text="${profil.name}">Name</span> gelöscht werden soll</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form method="post" th:action="@{/admin/betreuendeDelete}">
                        <input type="hidden" name="id" th:value="${profil.id}">
                        <button type="submit" class="btn btn-primary">Löschen</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>