<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Profil</title>
    <link rel="stylesheet" href="/bootstrap.min.css"/>
    <script src="/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-primary-subtle">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Thesis is coming!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/profile">Betreuende</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/themen">Themen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Matching</a>
                </li>
            </ul>
            <div th:object="${navButton}">
                <a class="btn btn-primary" th:href="*{url}" th:text="*{label}">Anmelden</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid py-3">
    <div class="row justify-content-center">
        <div class="col-md-4 text-center mb-4">
            <h1 class="display-4 fw-bold">Admin</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 mb-4">
            <div class="card bg-light">
                <div class="card-header">
                    <h2 class="display-6">Neue Betreuende Person</h2>
                </div>
                <div class="card-body">
                    <form method="POST" th:action="@{/admin}" th:object="${profil}">
                        <div class="form-group mb-2">
                            <label for="githubId">Github ID</label>
                            <input type="number" class="form-control" id="githubId" th:field="*{id}">
                            <small class="text-danger" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Wert Error</small>
                        </div>
                        <div class="form-group mb-2">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" th:field="*{name}">
                            <small class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Wert Error</small>
                        </div>
                        <button type="submit" class="btn btn-primary">Hinzufügen</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="profil : ${profile}">
                    <td th:text="*{profil.id}">1</td>
                    <td th:text="*{profil.name}">John</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>