<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
    <link rel="stylesheet" href="/bootstrap.min.css"/>
    <script src="/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Thesis is coming!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/profile">Betreuende</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/themen">Themen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Matching</a>
                </li>
            </ul>
            <div th:object="${navButton}">
                <a class="btn btn-primary" th:href="*{url}" th:text="*{label}">Anmelden</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid" th:object="${profil}">
    <h1 th:text="*{name}">ProfilName</h1>
    <div class="row">
        <div class="col-md-6" th:each="kontakt: *{kontakte}">
            <p>
                <span th:text="${kontakt.label}">ProfilEmail:</span>
                <a th:href="${kontakt.href}" th:text="${kontakt.wert}" href="muster@email.com">muster@email.com</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>