<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Profil</title>
    <link rel="stylesheet" href="/bootstrap.min.css"/>
    <script src="/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-primary-subtle sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Thesis is coming!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/betreuende">Betreuende</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/themen">Themen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/matching">Matching</a>
                </li>
            </ul>
            <div th:if="${navButton}" th:object="${navButton}">
                <a class="btn btn-primary" th:href="*{url}" th:text="*{label}">Anmelden</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid py-3" th:object="${profil}">
    <div class="row justify-content-center">
        <div class="col-md-12 mb-4">
            <h1 class="display-4 fw-bold" th:text="*{name}">Profil Name</h1>
        </div>
    </div>
    <div class="row justify-content-center" th:if="*{!kontakte.isEmpty()}">
        <h2 class="display-6">Kontakt</h2>
        <div class="col-md-12" th:each="profilKontakt: *{kontakte}">
            <p>
                <span th:text="${profilKontakt.label}">ProfilEmail:</span>
                <a th:href="${profilKontakt.href}" th:text="${profilKontakt.wert}" href="muster@email.com">muster@email.com</a>
            </p>
        </div>
    </div>
    <div class="row justify-content-center" th:if="*{!fachgebiete.isEmpty()}">
        <h2 class="display-6">Fachgebiete</h2>
        <div class="col-md-12" th:each="fachgebiet: *{fachgebiete}">
            <p th:text="${fachgebiet}">Fachgebiet</p>
        </div>
    </div>
    <div class="row justify-content-center" th:if="*{!links.isEmpty()}">
        <h2 class="display-6">Links</h2>
        <ul class="ps-5" th:each="link: *{links}">
            <li><a th:href="@{{link}(link=${link.url})}" th:text="${link.url}"></a>
                <div th:text="${link.text}">Beschreibung des Links</div>
            </li>
        </ul>
    </div>
    <div class="row justify-content-center" th:if="*{!themen.isEmpty()}">
        <h2 class="display-6">Themen</h2>
        <ul class="ps-5" th:each="thema: *{themen}">
            <li><a th:href="@{/thema/{themaId}(themaId=${thema.id})}" th:text="${thema.name}">Thema</a>
            </li>
        </ul>
    </div>
    <div class="row justify-content-center" th:if="*{!dateien.isEmpty()}">
        <h2 class="display-6">Dateien</h2>
        <ul class="ps-5" th:each="datei: *{dateien}">
            <li><a th:href="@{/datei/view/{id}(id=${datei.id}, name=${datei.name})}" th:text="${datei.name}">Datei</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12 mb-4">
            <a class="btn btn-primary" href="/betreuende">Zurück</a>
        </div>
    </div>
</div>
</body>
</html>