<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
    <link rel="stylesheet" href="/bootstrap.min.css"/>
</head>
<body>
<div class="container-fluid" th:object="${profil}">
    <h1 th:text="*{name}">ProfilName</h1>
    <div class="row">
        <div class="col-md-6" th:each="kontakt: *{kontakte}">
            <p>
                <span th:text="${kontakt.label}">ProfilEmail:</span>
                <a th:href="${kontakt.href}" th:text="${kontakt.wert}" href="muster@email.com">muster@email.com</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>