<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/bootstrap.min.css" rel="stylesheet">
    <title>Thema löschen</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-primary-subtle">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Thesis is coming!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/betreuende">Betreuende</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/themen">Themen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/matching">Matching</a>
                </li>
            </ul>
            <div th:object="${navButton}">
                <a class="btn btn-primary" th:href="*{url}" th:text="*{label}">Anmelden</a>
            </div>
        </div>
    </div>
</nav>

<h1>Möchten Sie das Thema wirklich löschen?</h1>
<h1 th:text="${thema.titel}">Titel des Themas</h1>
<div th:if="${thema.hasBeschreibung}">
    Beschreibung des Themas:
    <p><span th:text="${thema.beschreibung}">Beschreibung</span></p>
</div>
<div>
    <span>Voraussetzungen:</span>
    <div th:each="vor: ${thema.getVoraussetzungen()}">
        <div th:text="${vor.voraussetzung()}"></div>
    </div>
</div>
<div th:if="${thema.hasLinks}">
    <p>Links zu externen Ressourcen:</p>
    <ul th:each="link: ${thema.links}">
        <li><a th:href="@{{link}(link=${link.url})}" th:text="${link.url}"></a>
            <div th:text="${link.text}">Beschreibung des Links</div>
        </li>
    </ul>
</div>
<div th:if="${canEdit}">
    <form th:action="@{/thema/{id}/deleteThema(id=${id})}" method="post">
        <button type="submit" class="btn btn-danger">Thema löschen</button>
    </form>
    <a th:href="@{/thema/{id}(id=${thema.id})}" class="btn btn-primary">Zurück zum Thema</a>
</div>

</body>
</html>