<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/bootstrap.min.css" rel="stylesheet">
    <title>Thema</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-primary-subtle">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Thesis is coming!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/betreuende">Betreuende</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/themen">Themen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/matching">Matching</a>
                </li>
            </ul>
            <div th:if="${navButton}" th:object="${navButton}">
                <a class="btn btn-primary" th:href="*{url}" th:text="*{label}">Anmelden</a>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid py-3" th:object="${thema}">
    <div class="row justify-content-center">
        <div class="col-md-12 mb-4">
            <h1 class="display-4 fw-bold" th:text="*{titel}">Thema Titel</h1>
        </div>
    </div>
    <a th:href="@{/betreuende/{profilID}(profilID=${profilID})}">Link zum Profil</a>

    <!-- isEmpty does not work here because beschreibung can be null as it is a String instead of a Set -->
    <div th:if="${thema.hasBeschreibung()}">
        <h2>Beschreibung des Themas:</h2>
        <p><span th:utext="*{beschreibung}">Beschreibung</span></p>
    </div>
    <div>
        <div th:if="*{!voraussetzungen.isEmpty()}">
            <h2>Voraussetzungen:</h2>
            <div th:each="vor: *{voraussetzungen}">
                <div th:text="${vor.voraussetzung()}"></div>
            </div>
        </div>
    </div>
    <div>
        <div th:if="*{!fachgebiete.isEmpty()}">
            <h2>Fachgebiete:</h2>
            <div th:each="fach: *{fachgebiete}">
                <div th:text="${fach.fachgebiet}"></div>
            </div>
        </div>
    </div>
    <div th:if="*{!links.isEmpty()}">
        <h2>Links zu externen Ressourcen:</h2>
        <ul th:each="link: *{links}">
            <li><a th:href="@{{link}(link=${link.url})}" th:text="${link.url}"></a>
                <div th:text="${link.text}">Beschreibung des Links</div>
            </li>
        </ul>
    </div>
    <div class="row justify-content-center" th:if="*{!dateien.isEmpty()}">
        <h2>Dateien</h2>
        <ul class="ps-5" th:each="datei: *{dateien}">
            <li><a th:href="@{/datei/view/{id}(id=${datei.id}, name=${datei.name})}" th:text="${datei.name}">Datei</a>
            </li>
        </ul>
    </div>
    <div th:if="${canEdit}">
        <a th:href="@{/themaEdit/{id}(id=${thema.id})}" class="btn btn-primary">Thema editieren</a>
        <a th:href="@{/thema/{id}/confirmDeletion(id=${thema.id})}" class="btn btn-primary">Thema löschen</a>
    </div>
</div>
</body>
</html>