<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thema</title>
    <link href="/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-primary-subtle">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Thesis is coming!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/betreuende">Betreuende</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/themen">Themen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/matching">Matching</a>
                </li>
            </ul>
            <div th:if="${navButton}" th:object="${navButton}">
                <a class="btn btn-primary" th:href="*{url}" th:text="*{label}">Anmelden</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid py-3">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center mb-4">
            <h1 class="display-4 fw-bold">Verfügbare Themen</h1>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-3 text-center mb-4" th:each="thema : ${themenListe}">
            <div class="card h-100 bg-light">
                <div class="card-body">
                    <h2 class="card-title fw-bold" th:text="${thema.titel}">Thema Name</h2>
                    <p class="card-text" th:if="${!thema.fachgebiete.isEmpty()}">Fachgebiete: <span
                            th:text="${thema.fachgebieteString()}"></span></p>
                    <a class="stretched-link" th:href="@{/thema/{id}(id=${thema.id})}"></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>