<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Thesis</title>
    <link rel="stylesheet" href="/bootstrap.min.css"/>
    <script src="/bootstrap.min.js"></script>
</head>
<body class="d-flex flex-column min-vh-100">
<nav class="navbar navbar-expand-lg navbar-light bg-primary-subtle">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Thesis is coming!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/betreuende">Betreuende</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/themen">Themen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/matching">Matching</a>
                </li>
            </ul>
            <div th:object="${navButton}">
                <a class="btn btn-primary" th:href="*{url}" th:text="*{label}">Anmelden</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid py-5 bg-primary-subtle ">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center mb-4">
            <h1 class="display-4 fw-bold">Das Portal für Deine Abschlussarbeit</h1>
            <p class="lead">Diese Plattform gibt Dir eine effiziente Möglichkeit, eine passende Betreuung und
                möglicherweise sogar ein passendes Thema für Deine Abschlussarbeit zu finden. Ziel ist es, sowohl
                Studierende als auch Betreuende zu entlasten.</p>
        </div>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="row justify-content-center">
        <div class="col-md-4 text-center mb-4">
            <div class="card h-100 bg-light">
                <div class="card-body">
                    <h2 class="card-title fw-bold">Betreuende</h2>
                    <p class="card-text">Profile aller Betreuenden können angeschaut und nach Interessen gefiltert
                        werden</p>
                    <a href="/betreuende" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center mb-4">
            <div class="card h-100 bg-light">
                <div class="card-body">
                    <h2 class="card-title fw-bold">Themen</h2>
                    <p class="card-text">Themenvorschläge können angeschaut und nach Interessen gefiltert werden</p>
                    <a href="/themen" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center mb-4">
            <div class="card h-100 bg-light">
                <div class="card-body">
                    <h2 class="card-title fw-bold">Matching</h2>
                    <p class="card-text">Mit unserer Matching-Funktion können Themen und Betreuer:innen, die zu Euren
                        Voraussetzungen passen gesucht werden</p>
                    <a href="/matching" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5 bg-primary mt-auto">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center text-white mb-4" th:object="${profilBanner}">
            <h2 class="display-5 fw-bold" th:text="*{greeting}">Jetzt anfangen</h2>
            <p th:text="*{description}">Melde Dich an und finde eine/n Betreuer:in und ein Thema für deine
                Abschlussarbeit!</p>
            <a class="btn btn-lg btn-light mx-2" th:href="*{url}" th:text="*{label}">Anmelden</a>
            <a class="btn btn-lg btn-secondary my-2" href="/logout" th:if="*{label != 'Anmelden'}">Abmelden</a>
        </div>
    </div>
</div>
</body>
</html>